.add {
  position: relative;
}

.submit-button {
  margin-bottom: 100px;
  height: 40px;
  width: 100px;
}

.first-area {
  border: 8px solid red;
  position: relative;
  top: 100px;
}
.your-question {
  background-color: white;
  position: absolute;
  border: 3px solid black;
  border-radius: 20px;
  top: 40px;
  width: 25rem;
  height: 4rem;
  left: 30px;
}
.label-your-question {
  position: absolute;
  top: 15px;
  left: 40px;
}
.second-area {
  border: 8px solid green;
  position: relative;
  top: 210px;
}

.your-answer {
  background-color: white;
  position: absolute;
  border: 3px solid black;
  border-radius: 20px;
  top: 40px;
  width: 25rem;
  height: 4rem;
  left: 30px;
}

.label-your-answer {
  position: absolute;
  top: 15px;
  left: 40px;
}

.third-area {
  border: 8px solid blue;
  position: relative;
  bottom: -320px;
}
.input-text {
  background-color: white;
  position: absolute;
  border: 3px solid black;
  border-radius: 20px;
  top: 40px;
  width: 25rem;
  height: 4rem;
  left: 30px;
}
