.card-tags {
  text-align: left;
  position: absolute;
  left: 20px;
  bottom: 5px;
}
.first-card {
  margin-bottom: 30px;
}

.card-question {
  margin-bottom: 30px;
}
.answer-hidden {
  visibility: hidden;
}
